    
     .navbaar li{
         list-style: none;
         display: inline-block;
         padding: .7rem;    
          border-bottom: 0;
         margin-left: 1rem;       
         color:white;
         transition: color,background-color , border-bottom, 1s ease-in-out;
         font-weight: 500;
         border-radius: .6rem;
         font-size: 18px
     }
     .navbaar li:hover{
         list-style: none;
         display: inline-block;
         padding-bottom: 1.2rem;        
         background-color: rgb(221, 218, 218);
         margin-left: 1rem;       
         color:rgb(90, 227, 231);
         border-radius: .6rem;
         font-weight: 500;
        
     }
   .navbaar li:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:rgb(90, 227, 231);
    transform:  scaleX(0);
  }
 .navbaar li:hover:before {
    transform:  scaleX(1);
  }
  

.float-right{
    float: right;
}
.navbaar a{
    text-decoration: none;
    color:initial;
    }
     .hide-full{
      display: none;
    }
  @media screen and (max-width:720px){
    .hide-full{
      display: block;
    }
    .navbaar {
      display: none;
    }
    .header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background:transparent;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right:0;
    z-index: 2;
    width: 250px;
    overflow-y: 3px;
    margin-top: 60px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background:#3c4f8f;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
  
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
  }